.weather-app{
    max-width: 600px;
    margin: 10px auto;
    border: 1px solid #179cd4;
    border-radius: 5px;
    padding:  20px;
     
}
body{color: #179cd4;

}
    h1{
        color: #878787;
    
 line-height: 28px;
font-size: 70px;
font-weight: normal;
}
li{
    list-style: none;
    color: rgb(135, 135,135);
    display: block;
    font-size: 16px;
    font-weight: 100;
}
footer{
    text-align: center;
    
}
.deg{
    font-size: 60px;
    font-weight: 600;
}
li:first-letter{
    text-transform: capitalize;
}
.image-temp .active {
    color: black;
    cursor: default;
}
.image-temp .active :hover{
    text-decoration: none;
}
.weather-forecast{
    margin-top: 20 px;
    text-align:center ;
    color: blue;
}
.weather-forecast-date{
    font-size: 16 px;
     opacity: 0.5;
}
.weather-forecast-temperatures-min{
    opacity: 0.5;
}
.weather-forecast-temperatures{
    font-size: 13 px;
}
